<!--
  Generated template for the CarDetails component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear icon-only (tap)="close()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="details"> Model Version</span>

    </ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content *ngIf="details">
<ion-slides pager style="height: 50%;" class="article-slidebox">

  <ion-slide>
    <img src="http://arabalar1.cdn.tc/static-res/{{details.version.showCasePicture}}"/>
  </ion-slide>
    <ion-slide>
    <img src="http://arabalar1.cdn.tc/static-res/{{details.version.showCasePicture}}"/>
  </ion-slide>
    <ion-slide>
    <img src="http://arabalar1.cdn.tc/static-res/{{details.version.showCasePicture}}"/>
  </ion-slide>

</ion-slides>
</ion-content>
-->

 <ion-content *ngIf="details">
    <ion-slides *ngIf="images" class="article-slidebox">
      <ion-slide *ngFor="let image of images">
        <div class="box blue article-slidebox">
          <img [src]=image.imageFullPath/>
          <div class="item">
          </div>
        </div>
      </ion-slide>
    </ion-slides>

   <div class="bgBlack padding">
      <h3>{{details.version.feature.yil}} {{details.version.brandModel.brand.name}} {{details.version.brandModel.name}}
      {{details.version.name}}</h3>
    </div>

<div padding>
  <ion-segment [(ngModel)]="type">
    <ion-segment-button value="teknik">
      Teknik Özellikler
    </ion-segment-button>
    <ion-segment-button value="donanim">
      Donanım
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="type">
  <ion-list *ngSwitchCase="'teknik'">
        <ion-grid>
        <ion-row>
          <ion-col width-50><b>Silindir Hacmi</b></ion-col>
          <ion-col width-50>{{details.version.feature.silindirHacmi}} cc</ion-col>
        </ion-row>

        <ion-row>
          <ion-col width-50><b>Beygir Gücü</b></ion-col>
          <ion-col width-50>{{details.version.feature.beygirGucu}} hp</ion-col>
        </ion-row>

        <ion-row>
          <ion-col width-50><b>Şehiriçi Yakıt</b></ion-col>
          <ion-col width-50>{{details.version.feature.sehiriciYakit}} lt</ion-col>
        </ion-row>

        <ion-row>
          <ion-col width-50><b>Şehirdışı yakıt</b></ion-col>
          <ion-col width-50>{{details.version.feature.sehirdisiYakit}} lt</ion-col>
        </ion-row>

        <ion-row>
          <ion-col width-50><b>Ort. Yakıt</b></ion-col>
          <ion-col width-50>{{details.version.feature.ortalamaYakit}} lt</ion-col>
        </ion-row>


        <ion-row>
          <ion-col width-50><b>Maks. Tork</b></ion-col>
          <ion-col width-50>{{details.version.feature.maksTork}} Nm</ion-col>
        </ion-row>

         <ion-row>
          <ion-col width-50><b>Lastik Ölçüleri</b></ion-col>
          <ion-col width-50>{{details.version.feature.lastikEbatlari}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col width-50><b>0-100 Hız.</b></ion-col>
          <ion-col width-50>{{details.version.feature.hizlanma}} sn</ion-col>
        </ion-row>

        <ion-row>
          <ion-col width-50><b>Uzunluk</b></ion-col>
          <ion-col width-50>{{details.version.feature.uzunluk}} mm</ion-col>
        </ion-row>

        <ion-row>
          <ion-col width-50><b>Genişlik</b></ion-col>
          <ion-col width-50>{{details.version.feature.genislik}} mm</ion-col>
        </ion-row>


        <ion-row>
          <ion-col width-50><b>Yükseklik</b></ion-col>
          <ion-col width-50>{{details.version.feature.yukseklik}} mm</ion-col>
        </ion-row>

         <ion-row>
          <ion-col width-50><b>Bagaj Hacmi</b></ion-col>
          <ion-col width-50>{{details.version.feature.bagajKapasitesi}} lt</ion-col>
        </ion-row>

        <ion-row>
          <ion-col width-50><b>Boş Ağırlık</b></ion-col>
          <ion-col width-50>{{details.version.feature.bosAgirlik}} kg</ion-col>
        </ion-row>   
                
         <ion-row>
          <ion-col width-50><b>Yakıt Deposu</b></ion-col>
          <ion-col width-50>{{details.version.feature.yakitDeposu}} lt</ion-col>
        </ion-row>  

       </ion-grid>

        
        </ion-list>

  <ion-list *ngSwitchCase="'donanim'">
      Donanım  
  </ion-list>
</div>
</ion-content>

