<!--
  Generated template for the NewsDetail component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button clear icon-only (tap)="close()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="newsDetail">{{newsDetail.title}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content *ngIf="newsDetail">
<ion-card>

  <img [src]=newsDetail.thumbnail>

  <ion-card-content>
    <p class="lead" [innerHTML]="newsDetail.title"></p>
    <p [innerHTML]="newsDetail.body"></p>
  </ion-card-content>

</ion-card>

 </ion-content>
